<div class="top-bar">
  <div class="top-bar-left">
    <h1>CRICKET</h1>
  </div>
  <div class="top-bar-right">
    <button id="Sign Up"><%= link_to "Sign Up", new_user_registration_path, class: "button" %></li>
    <button id="Log In"><%= link_to 'Log In', new_user_session_path, class: "button" %></button>
  </div>
</div>
