
<% if current_user.nil? %>
<div class="row align-spaced">
  <div class="medium-4 columns">
    <h1><%= link_to "Sign Up", new_user_registration_path, class: "sign-up" %></h1>
  </div>
  <div class="medium-4 columns">
    <h1><%= link_to 'Log In', new_user_session_path, class: "sign-up" %></h1>
  </div>
</div>
<% end %>
</div>

<% if current_user %>
  <div class="row align-center">

  <div class="small-3 columns">


  <div class="score-region">
    <h1 class="even">20</h1>
    <h1 class="odd">19</h1>
    <h1 class="even">18</h1>
    <h1 class="odd">17</h1>
    <h1 class="even">16</h1>
    <h1 class="odd">15</h1>
    <h1 class="even">⊗</h1>
  </div>
  </div>
  </div>
<% end %>
