@import "settings";

body {
  background: url('chalk-background.jpg') no-repeat center center fixed;
  background-size: cover;
}

/******************************
Header
******************************/

.top-bar {
  background-color: black;
  text-align: center;
  background-image: url(dart-and-board.jpeg);
  background-repeat: no-repeat;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 95% 100%;
  background-size: 100% 100%;
  background-position: right;
}

.top-bar-right {
  justify-content: space-around;
  margin: 0;
}

.title-bar{
  background-color: #282828;
  margin-bottom: .5%;
  font-size: 1.33rem;
}

.header-text {
  font-family: 'Times New Roman', serif;
  display: inline-block;
  font-size: 6rem;
  font-weight: bold;
  color: red;
  margin-bottom: 3rem;
  padding-bottom: 0;
}

.title-bar-right {
  color: red;
  margin-right: 5px;
  font-size: 1.5rem;
  font-weight: bold;
}

.float-center {
  width: 40%;
  height: 40%;
  margin: 0;
  display: inline-block;
  align-self: center;

  }

/******************************
Profile
******************************/

.profile {
  margin-left: 2rem;
}

.profile-username {
  color: white;
  font-weight: bold;

}

.profile h2 {
      font-size: 2rem;
      color: white;
      text-align: left;
      }

  .profile ul {
    font-size: 1.25rem;
    color: white
  }

  /******************************
  Forms
  ******************************/

  .button {
    background-color: green;
  }

.login {
  color: white;
  font-size: 4rem;
  margin: 25px;
}

.close-button {
  font-size: 25px;
}

label {
  color: white;
  margin-left: 3px;
  margin-bottom: 0px;
  font-size: 1.25rem;
}

/******************************
Scoreboard
******************************/
// .container {
//    display: flex;
//    flex-flow: row;
//    justify-content: center;
//    border-color: white;
// }

.player-scoreboard {
  text-align: center;
  color: white;
  font-family: 'Chalkboard', serif;
  text-decoration: underline;
  font-weight: 400;
}

.hits {
  color: white;
  text-align: center;
  min-height: 70px;
  font-weight: bold;
  margin: 0;
  border-color: white;
  border-style: solid;
}

.even {
  border: solid;
  text-align: center;
  background-color: black;
  color: white;
  margin: 0;
  min-height: 70px;
}

.odd {
  border: solid;
  text-align: center;
  background-color: red;
  color: white;
  margin: 0;
  min-height: 70px;
}

/******************************
Game
******************************/
.games {
  color: white;
  text-decoration: underline;
  text-align: left;
}

.game {
  color: white;
  font-family: 'Chalkboard', serif;
  font-size: 1.33rem;
}


/******************************
Player
******************************/
.players {
  color: white;
  text-decoration: underline;
}

.player {
  color: white;
  font-family: 'Chalkboard', serif;
  font-size: 1.33rem;
}

.player-name {
  color: white;
  text-decoration: underline;
}

.player-games {
  color: white;
  list-style: none;
}
